.hidden {
  display: none;
  
}
.preview {
  text-align: center;
}


h1 {
  color: rgb(207, 207, 207);
  background-color: rgb(38, 38, 38);
  padding: 45px;
  margin: 0;
}
h2 {
    margin: 30px 0 45px;
    font-size: 26.5px;
}

.kobai li ul{
  list-style-type: none;
  display: inline-block;
}
.kaku{
  display: none;
}

body {
  font-size: 16px;
  margin: 0;
}
.nav ul {
    margin: 0;
    padding: 20px 0;
   
  text-align: center;
  background-color: rgb(38, 38, 38);
}
.nav{
    margin-bottom: 30px;
    
} 
.kobai li ul{
  margin: 0 0;
}
.nav ul li {
    list-style-type: none;
    display: inline;
     margin: 0 8px;
   
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    
    
}
.nav ul li a {
    text-decoration: none;
     padding: 16px 45px 20px;
     border-top: solid 1.5px rgb(255, 255, 255);
     
}
.nav ul li a:visited {
    color: rgb(255, 255, 255);
}
.k{
    
    padding-bottom:15px;
  text-decoration: none;
  border-bottom: 7px solid rgb(165, 42, 165);
}


.nav ul li a:hover {
    
    background-color: rgba(23, 156, 136, 0.527);
    text-decoration: none;

}

.nav ul li.k a:hover {
    padding: 16px 45px 15px;
    background-color: rgba(23, 156, 136, 0.524);
    padding-bottom: 7px solid rgb(165, 42, 165);
    text-decoration: none;
}
p {
    margin: 10px 0 20px;
    font-size: 18px;
}
.e{
  text-align: center;
  
}
canvas#preview {
  display: block;
  max-width: 100%;  /* 画面からはみ出さないように */
  height: auto;     /* 縦横比を保ったまま縮める */
  margin: 0 auto 20px;  /* 中央に配置＋下に少し余白 */
}
input{
  padding-right: 300px;
  font-size: 16px;
  width: 120px;
  height: 40px;
}
ul button{
  font-size: 16px;
  width: 120px;
  height: 32px;
}
.tukaikata{

   margin-bottom: 10px;
  font-size: 16px;
  width: 75px;
  height: 30px;
}
.setsumei {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; /* 初期は白(背景なし) */
}
#koubai-shasin {
  margin-top: 4px;
  padding-right: 1000px;
}






@media (max-width: 600px) {
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.6;
  }
  canvas#preview {
  display: block;
  max-width: 100%;  /* 画面からはみ出さないように */
  height: auto;     /* 縦横比を保ったまま縮める */
  margin: 0 auto 20px;  /* 中央に配置＋下に少し余白 */
}

}
