.hidden {
  display: none;
}
.botan ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
.botan ul li.kakko {
  margin-right: 1px;
}
.kaku{
  display: none;
}

#shakudo.active {
      background: #6a93ec;
      color: white;
    }
  
#hakaru.active {
    background: #6a93ec;
    color: white;
  }

h1 {
  color: rgb(207, 207, 207);
  background-color: rgb(38, 38, 38);
  padding: 45px;
  margin: 0;
}
h2 {
    margin: 30px 0 45px;
    font-size: 26.5px;
}

.kobai li ul{
  list-style-type: none;
  display: inline-block;
}
.kaku{
  display: none;
}

body {
  font-size: 16px;
  margin: 0;
}
.nav ul {
    margin: 0;
    padding: 20px 0;
   
  text-align: center;
  background-color: rgb(38, 38, 38);
}
.nav{
    margin-bottom: 60px;
    
}


.nav ul li {
    list-style-type: none;
    display: inline;
     margin: 0 8px;
   
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    
    
}
.nav ul li a {
    text-decoration: none;
     padding: 16px 45px 20px;
     border-top: solid 1.5px rgb(255, 255, 255);
     
}
.nav ul li a:visited {
    color: rgb(255, 255, 255);
}
.k{
    
    padding-bottom:15px;
  text-decoration: none;
  border-bottom: 7px solid rgb(165, 42, 165);
}


.nav ul li a:hover {
    
    background-color: rgba(23, 156, 136, 0.527);
    text-decoration: none;

}

.nav ul li.k a:hover {
    padding: 16px 45px 15px;
    background-color: rgba(23, 156, 136, 0.524);
    padding-bottom: 7px solid rgb(165, 42, 165);
    text-decoration: none;
}
p {
    margin: 10px 0 20px;
    font-size: 18px;
    
}

.e{
  text-align: center;
} 
#takasa-shasin{
  padding-right: 1000px;
  font-size: 16px;
  width: 120px;
  height: 40px;

}

li button{
  font-size: 16px;
  width: 120px;
  height: 32px;
  margin: 6px 3px;
}

#tukaikata-takasa{
   font-size: 16px;
  width: 75px;
  height: 28px;
}
#kettei{
   font-size: 16px;
  width: 90px;
  height: 36px;
}
#keisoku{
  font-size: 16px;
  width: 200px;
  height: 36px;
}
#jissai{
  font-size: 16px;
  width: 200px;
  height: 26px;
}
.setsumei {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; /* 初期は白(背景なし) */
}
.dekap {
  font-size: 18px;
}
.green{
  color: rgb(44, 194, 79);
}
.blue{
  color: rgb(89, 108, 213);
}