.hidden {
  display: none;
}

h1 {
  color: rgb(207, 207, 207);
  background-color: rgb(38, 38, 38);
  padding: 45px;
  margin: 0;
}

.kobai li ul{
  list-style-type: none;
  display: inline-block;
}
.kaku{
  display: none;
}

body {
  font-size: 16px;
  margin: 0;
}
.nav ul {
  text-align: center;
}

.nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 45px;
    color: rgb(0, 0, 200);
    font-size: 20px;
    
}
.nav ul li a {
    text-decoration: none;
}
.nav ul li a:visited {
    color: rgb(0, 0, 200);
}
.k{
  text-decoration: underline 5px rgb(165, 42, 165);
}


.nav ul li a:hover {
    color: rgb(23, 156, 136);
    text-decoration: underline;
}

.nav ul li.k a:hover {
    color: rgb(23, 156, 136);
    text-decoration: none;
}
